<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.users.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLeaveRequestController</servlet-name>
        <servlet-class>controller.leaverequest.CreateLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLeaveRequestByDepartmentController</servlet-name>
        <servlet-class>controller.leaverequest.ViewLeaveRequestByDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>controller.users.WelcomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewByDepartmentController</servlet-name>
        <servlet-class>controller.management.ViewByDepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseLeaveRequestController</servlet-name>
        <servlet-class>controller.management.BrowseLeaveRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLeaveRequestController</servlet-name>
        <url-pattern>/leaverequest/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLeaveRequestByDepartmentController</servlet-name>
        <url-pattern>/leaverequest/findbydept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewByDepartmentController</servlet-name>
        <url-pattern>/leaverequest/management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseLeaveRequestController</servlet-name>
        <url-pattern>/leaverequest/browse</url-pattern>
    </servlet-mapping>
</web-app>
