/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 thg 3, 2025, 23:54:14
    Author     : NITRO 5
*/
.pagger a
{
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    margin: 2px;
}

.pagger span
{
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 2px;
}